[Desktop Entry]
Type=Application
Name=fastrdp
GenericName=Remote Desktop Client
Comment=Low-latency Remote Desktop (RDP) client
Exec=fastrdp
Icon=io.github.sneakyimp1.fastrdp
Terminal=false
Categories=Network;RemoteAccess;Qt;
Keywords=rdp;remote;desktop;windows;
StartupWMClass=io.github.sneakyimp1.fastrdp
